<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 com rescap">

    <Identity
      Name="87453f96-70e8-4a9a-84af-8856d0327480"
      Publisher="CN=zrich"
      Version="1.0.0.0" />

    <mp:PhoneIdentity PhoneProductId="87453f96-70e8-4a9a-84af-8856d0327480" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>ms-resource:AppName</DisplayName>
        <PublisherDisplayName>zrich</PublisherDisplayName>
        <Logo>Assets\Logo\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="$targetentrypoint$">
            <uap:VisualElements
              DisplayName="ms-resource:AppName"
              Description="App"
              BackgroundColor="transparent"
              Square150x150Logo="Assets\Logo\Square150x150Logo.png"
              Square44x44Logo="Assets\Logo\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png"  Square71x71Logo="Assets\Logo\SmallTile.png" Square310x310Logo="Assets\Logo\LargeTile.png" ShortName="ms-resource:AppName">
                </uap:DefaultTile >
                <uap:SplashScreen Image="Assets\Logo\SplashScreen.png" />
            </uap:VisualElements>
            <Extensions>
                <uap:Extension Category="windows.protocol">
                    <uap:Protocol Name="bilicop">
                        <uap:Logo>Assets\StoreLogo.png</uap:Logo>
                        <uap:DisplayName>哔哩助理</uap:DisplayName>
                    </uap:Protocol>
                </uap:Extension>
                <com:Extension Category="windows.comServer">
                    <com:ComServer>
                        <com:ExeServer Executable="Bili.Copilot.App.exe" Arguments="-RegisterProcessAsComServer" DisplayName="哔哩助理">
                            <com:Class Id="40A52E4C-AD4A-46B5-9752-3A90D784C0EA" DisplayName="哔哩助理小组件" />
                        </com:ExeServer>
                    </com:ComServer>
                </com:Extension>
                <uap3:Extension Category="windows.appExtension">
                    <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="哔哩助理小组件" Id="BiliCopilotWidget" PublicFolder="Public">
                        <uap3:Properties>
                            <WidgetProvider>
                                <ProviderIcons>
                                    <Icon Path="Assets\StoreLogo.png" />
                                </ProviderIcons>
                                <Activation>
                                    <CreateInstance ClassId="40A52E4C-AD4A-46B5-9752-3A90D784C0EA" />
                                </Activation>
                                <Definitions>
                                    <Definition Id="BiliCopilotRank"
                                        DisplayName="全区排行榜"
                                        Description="哔哩哔哩当日全区排行榜">
                                        <Capabilities>
                                            <Capability>
                                                <Size Name="large" />
                                            </Capability>
                                        </Capabilities>
                                        <ThemeResources>
                                            <Icons>
                                                <Icon Path="Assets\StoreLogo.png" />
                                            </Icons>
                                            <Screenshots>
                                                <Screenshot Path="Assets\StoreLogo.png" DisplayAltText="哔哩哔哩当日全区排行榜" />
                                            </Screenshots>
                                            <!-- DarkMode and LightMode are optional -->
                                            <DarkMode />
                                            <LightMode />
                                        </ThemeResources>
                                    </Definition>

                                </Definitions>
                            </WidgetProvider>
                        </uap3:Properties>
                    </uap3:AppExtension>
                </uap3:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <Capability Name="privateNetworkClientServer"/>
        <Capability Name="internetClient"/>
        <Capability Name="internetClientServer"/>
    </Capabilities>
</Package>
